---
import MainSection from '@/components/MainSection.astro';
---

<MainSection >
  <h1>Minimal</h1>
  <h2>Simple, dynamic, elegant.</h2>
  <h3>Create your minimalist Portfolio Website.</h3>
</MainSection>

<style>
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2rem;
  }

  
</style>