---

---

<nav class="h-[4rem] flex justify-center">
  <div class="flex justify-start items-center gap-5 ">
    <h1>HOME</h1>
    <h2>Get Started</h2>
    <h2>Example</h2>
  </div>
</nav>

<style>
  div {
    min-width: 900px;
    max-width:1300px;
    margin-inline:4rem;
  }
</style>
