---
import Layout from '../layouts/Layout.astro';
import Navbar from '@/sections/Navbar.astro';
import Header from '@/sections/Header.astro';

---

<Layout title="Welcome to Astro.">
	<Navbar />
	<main>
		<Header />
	</main>
</Layout>

<style is:global>
	main {
		
	}
	
</style>
