---
const title1 = Astro.props
---


<section>
  <slot />
</section>


<style>
  * {
    /* border: 1px solid ; */
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 4rem;
    width: auto;
    height: 65vh;
    gap: 2rem;
  }

</style>